<div [formGroup]="registerForm">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" placeholder="Email">

    <label for="name">User Name</label>
    <input type="text" id="name" formControlName="username" placeholder="User Name">

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" placeholder="Password">

    <button type="submit" (click)="onSubmit()">Register</button>
</div>


<div id="g_id_onload"
     data-client_id="724582227406-4u123fmbp00mri9tqd4k2pqr4jj2vri6.apps.googleusercontent.com"
     data-context="signup"
     data-ux_mode="popup"
     data-login_uri="http://localhost:3000/api/register"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signup_with"
     data-size="large"
     data-logo_alignment="left">
</div>





<div id="g_id_onload"
     data-client_id="724582227406-4u123fmbp00mri9tqd4k2pqr4jj2vri6.apps.googleusercontent.com"
     data-context="signup"
     data-login_uri="http://localhost:3000/api/register"
     data-auto_select="true"
     data-itp_support="true">
</div>